SHAREHUB_DB_URL=jdbc:mysql://localhost:3306/sharehub_db
SHAREHUB_DB_USER=root
SHAREHUB_DB_PASSWORD=
SHAREHUB_UPLOAD_DIR=C:/sharehub_uploads

SHAREHUB_SMTP_HOST=smtp.gmail.com
SHAREHUB_SMTP_PORT=587
SHAREHUB_SMTP_USER=
SHAREHUB_SMTP_APP_PASSWORD=
SHAREHUB_SMTP_FROM=
SHAREHUB_SMTP_FROM_NAME=ShareHub
